{% extends 'account-nav.html' %}

{% load static %}

{% block title %}
Assignment
{% endblock title %}

{% block body %}
    
<!-- COURSE CONCERN -->
<section id="course-concern" class="course-concern">
    <div class="container">

        <div class="table-asignment">

            <ul class="nav-tabs" role="tablist">
                <li class="active"><a href="#assignment" role="tab" data-toggle="tab">Assignments</a></li>
                {% if user == "staff" %}
                <li><a href="#addassignment" role="tab" data-toggle="tab">Add Assignment</a></li>
                {% endif %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- ASSIGNMENTS -->
                <div class="tab-pane fade in active" id="assignment">
                    <div class="table-wrap">
                        <!-- TABLE HEAD -->
                        <div class="table-head">
                            <div class="submissions">Title</div>
                            <div class="total-subm">Course</div>
                            <div class="latest-reply">Date Given</div>
                            <div class="tb-icon">Deadline</div>
                            <div class="tb-icon"></div>
                        </div>
                        <!-- END / TABLE HEAD -->

                        <!-- TABLE BODY -->
                        <div class="table-body">
                            <!-- TABLE ITEM -->
                            <div class="table-item">
                                {% for ass in all_asignments %}
                                <div class="thead">
                                    <div class="submissions">{{ ass.title }}</div>
                                    <div class="total-subm">{{ ass.course }}</div>
                                    <div class="latest-reply">{{ ass.date_given }}</div>
                                    <div class="tb-icon">{{ ass.deadline }}</div>
                                    <div class="tb-icon">
                                        <a href="{% if user == 'staff' %}{% url 'Assignment:student_assignment_list' ass.id %}{% else %}{% url 'Assignment:submission' ass.id %}{% endif %}">View Assignment</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- END / TABLE ITEM -->

                        </div>
                        <!-- END / TABLE BODY -->
                    </div>

                </div>
                <!-- END / ASSIGNMENTS -->

                {% if user == "staff" %}
                <!-- ADD ASSIGNMENT -->
                <div class="tab-pane fade" id="addassignment">
                    <div class="table-wrap">
                        <form method="post" action="" class="avatar-acount">
                        {% csrf_token %}
                            <div class="">
                                <h3>New Assignment</h3>
                                <input class="form-control" type="text" name="course_code" placeholder="Course Code" required><br>
                                <input class="form-control" type="text" name="pdf_title" placeholder="PDF Title" required><br>
                                <input class="form-control" type="date" name="deadline" required><br>
                                <input class="form-control" type="file" name="file" required><br>
                                <input class="form-control" type="submit" value="Submit">
                            </div>
                            <div class="input-save">
                                <input type="submit" value="Save changes" class="mc-btn btn-style-1">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END / ADD ASSIGNMENT -->
                {% endif %}
            </div>

        </div>
    </div>
</section>
<!-- END / COURSE CONCERN -->

{% endblock body %}