{% extends 'auth.html' %}

{% load static %}

{% block title %}
Change Password
{% endblock title %}

{% block main %}

{% block auth_list %}
<li class="menu-item-has-children current-menu-item">
    <a href="{% url 'Assignment:login' %}">Login</a>
    <ul class="sub-menu">
        <li class="current-menu-item"><a href="{% url 'Assignment:login' %}">Login</a></li>
        <li><a href="{% url 'Assignment:register' %}">Register</a></li>
    </ul>
</li>
{% endblock auth_list %}

{% block form %}

 <!-- FORM -->
<div class="col-xs-12 col-lg-4 pull-right">
    <div class="form-login">
        <form action="" method="post">
            {% csrf_token %}
            <h2 class="text-uppercase">Change Password</h2>

            {% for message in messages %}
            <div role="alert" aria-live="assertive" aria-atomic="true" class="toast {% if message.tags == 'success' %}
                    bg-success
                    {% else %}
                    bg-danger
                    {% endif %}" data-autohide="false">
              <div class="toast-header">
                <strong class="mr-auto">
                    {% if message.tags == 'success' %}
                    Success
                    {% else %}
                    Error
                    {% endif %}
                </strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">
                {{ message }}
              </div>
            </div>
            {% endfor %}

            <div class="form-password">
                <input type="password" name="password" placeholder="New Password" required>
            </div>
            <div class="form-password">
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            </div>
            <div class="form-submit-1">
                <input type="submit" value="Submit" class="mc-btn btn-style-1">
            </div>
        </form>
    </div>
</div>
<!-- END / FORM -->
{% endblock form %}

{% endblock main %}