{% extends 'account-nav.html' %}

{% load static %}

{% block title %}
Mark Assignment
{% endblock title %}

{% block body %}

<section id="quizz-intro-section" class="quizz-intro-section learn-section">
    <div class="container">

        <div class="title-ct">
            <h3><strong>Title</strong>{{ submission.assignment.title }}</h3>
        </div>

        <div class="question-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="question-content" style="min-height:0px">
                        <div class="attachments">
                            <a href="/media/{{ submission.file }}" download><i class="icon md-paperclip"></i>Download Solution</a>
                        </div>
                        <div class="mc-title">
                            <h3 class="md">{{ submission.assignment.title }}</h3>
                            <div class="meta">
                                Submitted on {{ submission.date }} by {{ submission.student.person }}
                            </div>
                        </div>
                        <div class="score-criteria col-md-6" style="padding:0px">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div>
                                    <div style="margin-bottom: 5px">Assignment Score
                                        <input class="form-control" name="score" type="number" required>

                                    </div>
                                    <div style="margin-bottom: 5px">
                                        <div>
                                            <h4 style="color:black">Feedback</h4>
                                            <textarea class="form-control" name="feedback" placeholder="Enter feedback" required></textarea>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: 25px">
                                        <div class="form-action">
                                            <input type="submit" value="Submit" class="mc-btn btn-style-1">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}