{% extends 'account-nav.html' %}

{% load static %}

{% block title %}
Student Assignment List
{% endblock title %}

{% block body %}
    
<!-- COURSE CONCERN -->
<section id="course-concern" class="course-concern">
    <div class="container">

        <div class="table-asignment">

            <ul class="nav-tabs" role="tablist">
                <li class="active"><a href="#mysubmissions" role="tab" data-toggle="tab">Student Assignments</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- ASSIGNMENTS -->
                <div class="tab-pane fade in active" id="mysubmissions">
                    <div class="table-wrap">
                        <!-- TABLE HEAD -->
                        <div class="table-head">
                            <div class="submissions">Name</div>
                            <div class="total-subm">Matric No</div>
                            <div class="latest-reply">Date Submitted</div>
                            <div class="tb-icon"></div>
                        </div>
                        <!-- END / TABLE HEAD -->

                        <!-- TABLE BODY -->
                        <div class="table-body">
                            <!-- TABLE ITEM -->
                            <div class="table-item">
                                {% for sub in all_submission %}
                                <div class="thead">
                                    <div class="submissions">{{ sub.student.person.last_name }} {{ sub.student.person.last_name }}</div>
                                    <div class="total-subm">{{ sub.student.matric_no }}</div>
                                    <div class="latest-reply">{{ sub.date }}</div>
                                    <div class="tb-icon">
                                        <a class="btn btn-primary" style="color:white" href="{% url 'Assignment:submission' sub.id %}">View Submission</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- END / TABLE ITEM -->

                        </div>
                        <!-- END / TABLE BODY -->
                    </div>

                </div>
                <!-- END / ASSIGNMENTS -->
            </div>
        </div>
    </div>
</section>
<!-- END / COURSE CONCERN -->

{% endblock body %}