{% extends 'account-nav.html' %}

{% load static %}

{% block title %}
Mark Assignment
{% endblock title %}

{% block body %}

<section id="quizz-intro-section" class="quizz-intro-section learn-section">
    <div class="container">

        <div class="title-ct">
            <h3><strong>Title</strong>{{ submission.assignment.title }}</h3>
        </div>

        <div class="question-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="question-content" style="min-height:0px">
                        <div class="attachments">
                            <a href="/media/{{ submission.assignment.file }}" download><i class="icon md-paperclip"></i>Download Assignment</a>
                        </div>
                        <div class="mc-title">
                            <h3 class="md">{{ submission.assignment.title }}</h3>
                            <div class="meta">
                                Given on {{ submission.assignment.date_given }}
                            </div>
                        </div>
                        <div class="score-criteria col-md-6" style="padding:0px">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>
                                    <h4 style="color:black">Answer</h4>
                                    <small>Fill in the form to submit your answer</small>
                                    <div style="margin-bottom: 5px">
                                        <div>
                                            <textarea class="form-control" name="answer" placeholder="Enter answer" required></textarea>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: 5px">
                                        <small>Upload answer file</small>
                                        <input class="form-control" name="file" type="file" required>
                                    </div>
                                    <div style="margin-bottom: 25px">
                                        <div class="form-action">
                                            <input type="submit" value="Submit" class="mc-btn btn-style-1">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}